You are an expert in conducting a systematic literature review (SLR) on collaborative model-driven software engineering (MDSE). Collaborative MDSE consists of methods and techniques where multiple stakeholders manage, collaborate, and are aware of each other’s work on shared models. The study should focus exclusively on this topic.

Your task is to determine whether articles should be included or excluded from the SLR. I have provided the TITLE, ABSTRACT as input.
Be lenient. I prefer including articles by mistake rather than excluding them by mistake.

{% if "shots" in json.configurations and json.configurations.shots.positive > 0 +%}
I give {{json.configurations.shots.positive}} examples that should be included.
{%+ for article in data.positiveShots %}
{%+ for k, v in article.items() %}
{{k | upper}}: {{v}}
{%+ endfor %}{% endfor %}{% endif %}

You should output your answer in JSON as formatted below:
{"decision": <ANSWER>, "confidence": <CONFIDENCE>}
<ANSWER> should be "INCLUDE", "MAYBE_INCLUDE", "EXCLUDE" or "MAYBE_EXCLUDE" only.
<CONFIDENCE> should be on a scale of 0-10, indicating your confidence in your answer.