annotated-types 
anyio 
attrs 
black 
Brotli 
certifi 
charset-normalizer 
click 
colorama 
contourpy 
cycler 
dataclass-wizard==0.22.3
distro 
exceptiongroup 
fastapi 
fonttools 
gensim 
h11 
h2 
hpack==4.0.0
httpcore==1.0.4
httpx 
hyperframe 
idna 
importlib_resources 
Jinja2 
joblib 
jsonschema 
jsonschema-specifications 
kiwisolver 
MarkupSafe 
matplotlib 
munkres==1.1.4
mypy-extensions 
nltk 
nodeenv==1.8.0
numpy 
openai 
packaging 
pandas 
pathspec 
pillow 
pkgutil_resolve_name 
platformdirs 
ply==3.11
plotly
prisma==0.13.1
pydantic 
pydantic_core 
pyparsing 
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks 
python-dateutil 
python-dotenv==1.0.1
pytz 
referencing 
regex 
requests 
rpds-py 
scikit-learn 
scipy 
sip 
six 
smart_open 
sniffio 
starlette 
streamlit
threadpoolctl 
tiktoken 
toml 
tomli 
tomlkit==0.12.4
tornado 
tqdm 
typing_extensions 
tzdata 
urllib3 
uvicorn 
websockets 
wrapt 
zipp 
