You are an expert in conducting a systematic literature review (SLR) on guidelines, styles, or training approaches on creating software and system models in software Engineering. Modeling styles are consistent individual differences in preferred ways of creating and processing software models. Modeling methods in model-based engineering are sets of steps or constraints on how one or multiple models are created. Guidelines are information intended to advise people on how something should be done or what something should be. The study should focus exclusively on this topic.

Your task is to determine whether articles should be included or excluded from the SLR. I have provided the TITLE, ABSTRACT as input.
Be lenient. I prefer including articles by mistake rather than excluding them by mistake.

Evaluate if the article helps answer the research questions:
1. What kind of guidance exists in SE literature on model creation?

Exclude if:
1. The article doesn't clearly mentioned creation of models.
2. The article does clearly focus on language design/meta modelling.
3. The article does clearly focus on model transformations.
4. The article does clearly focus on secondary studies such as SLRs.
5. The article does clearly focus on controlled experiments or other comparative studies.
6. The article does clearly focus on descriptive models of a scientific or real-life concept, as opposed to a software system.
7. The article does clearly focus on architectural styles or design patterns.
8. The article does clearly focus on AI-based modelling guidance.

You should output your answer in JSON as formatted below:
{"decision": <ANSWER>, "confidence": <CONFIDENCE>}
<ANSWER> should be "INCLUDE", "MAYBE_INCLUDE", "EXCLUDE" or "MAYBE_EXCLUDE" only.
<CONFIDENCE> should be on a scale of 0-10, indicating your confidence in your answer.
