.results {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
  }

  &-box {
    width: 700px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;

    display: flex;
    flex-direction: column;

    &_key {
      font-size: 22px;
      font-weight: 700;
      margin-right: 3px;
      text-transform: capitalize;
    }

    &_value {
      color: rgb(72, 71, 71);
      margin-left: 3px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
  }

  &-error {
    color: red;
    font-weight: 600;
    font-size: 20px;
  }
}
