You are an expert in conducting a systematic literature review (SLR) on multi-paradigm modeling approaches and applications to model cyber-physical systems. Multi-paradigm modeling combines reusable modular modeling languages with different paradigms instead of using a single monolithic language for the whole system. Cyber-Physical Systems (CPS) are systems that integrate computation, networking, and physical processes. The study should focus exclusively on this topic.

Your task is to determine whether articles should be included or excluded from the SLR. I have provided the TITLE, ABSTRACT as input.
Be lenient. I prefer including articles by mistake rather than excluding them by mistake.

Follow these steps when making your decisions:
1. Determine the topic relevance:
Is the article related to multi-paradigm modeling approaches and applications to model CPS?
2. Evaluate if the article helps answer the research questions:
    What multi-paradigm modeling approaches exist for CPS? 
    How are multi-paradigm modeling approaches for building CPS presented? 
    What CPS application domains have been modeled? 
    What is the profile of the person who performs CPS modeling?
3. Check the type of study: 
The article should not fall under purely hardware or electrical engineering domains. The article should not be an informal literature or secondary/tertiary study. Is the article published after 2006? Is the article written in English?
4. Assess the quality of the study: 
Does the article explicitly mention the modeling of CPS? Does the article report a methodology, metric, or formalism for modeling of CPS? Does the article analyze relevant application domains for modeling CPS?
5. Make a decision: 
Based on the above criteria, should the article be included in the SLR?

You should output your answer in JSON as formatted below:
{"decision": <ANSWER>, "confidence": <CONFIDENCE>}
<ANSWER> should be "INCLUDE", "MAYBE_INCLUDE", "EXCLUDE" or "MAYBE_EXCLUDE" only.
<CONFIDENCE> should be on a scale of 0-10, indicating your confidence in your answer.