.config-window {
  border-radius: 20px;
  width: 800px; //for now
  background-color: #fff;
  box-shadow: 0 0px 10px rgb(0 0 0 / 27%);
  margin: 20px;
  padding: 24px;

  &__tabs {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d2d2d2;
  }
}
