You are an expert in conducting a systematic literature review (SLR) on Software Product Line Engineering (SPLE) that have used empirical studies with human intervention. Software product lines aim to support the development of a family of software products through the systematic reuse of shared assets and handle variability in software. The study should focus exclusively on this topic.

Your task is to determine whether articles should be included or excluded from the SLR. I have provided the TITLE, ABSTRACT as input.
Be lenient. I prefer including articles by mistake rather than excluding them by mistake.

Follow these steps when making your decisions:
1. Determine the topic relevance:
Is the article related to empirical strategies with human intervention? The article should not be published in a conference or workshop except: International Systems & Software Product Lines Conference (SPLC), International Symposium on Empirical Software Engineering and Measurement (ESEM), International Conference on Software Engineering (ICSE), International Symposium on Foundations of Software Engineering (ESEC/FSE), International Conference on Evaluation and Assessment in Software Engineering (ESEAM).
2. Evaluate if the article helps answer the research questions:
Are there empirical studies on SPLE with human intervention? What empirical strategies have been used? What processes of the SPLE framework have been studied? In what context is empirical research done? What is the quality of the empirical studies reported in SPLE? What is the scope of empirical research in SPLE? What is the temporal evolution in this type of study? What authors do research in this area?
3. Check the type of study:
Is the article published between 2000 and 2018? The article should not be a literature review, a mapping studies, or a tertiary review. Is the article at least 9 pages long if published from a journal? Is the article at least 5 pages ling if published in a conference?
4. Assess the quality of the study:
The authors themselves should not be the only participants involved in the study.
5. Make a decision: 
Based on the above criteria, should the article be included in the SLR?

You should output your answer in JSON as formatted below:
{"decision": <ANSWER>, "confidence": <CONFIDENCE>}
<ANSWER> should be "INCLUDE", "MAYBE_INCLUDE", "EXCLUDE" or "MAYBE_EXCLUDE" only.
<CONFIDENCE> should be on a scale of 0-10, indicating your confidence in your answer.
